backend/app/__pycache__/__init__.cpython-313.pyc
backend/app/__pycache__/main.cpython-313.pyc
backend/app/api/__pycache__/__init__.cpython-313.pyc
backend/app/api/__pycache__/routes.cpython-313.pyc
backend/app/scrapers/__pycache__/__init__.cpython-313.pyc
backend/app/scrapers/__pycache__/daraz.cpython-313.pyc
backend/app/scrapers/__pycache__/olx.cpython-313.pyc
*.pyc
*.db